* {
    font-family: Helvetica;
}
.retirement-spending-application {

    padding: 66px 144px 66px 144px;


    .custom-control-label {
        font-size: 14px;
    }

    .custom-radio {
        cursor: pointer;
        .custom-control-label {
            cursor: pointer !important;
        }
    }

    .vue-slider {
        //position: relative;
        //top: 0px;
        .vue-slider-dot-handle {
            background: #49bc6b;
        }

        .vue-slider-process {
            background: #49bc6b;
        }

        .vue-slider-rail {
            background: rgba(0, 130, 101, 0.16);
        }
    }

    .custom-control-label::after {
        display: none !important;
    }
    .apexcharts-legend-series {
        font-size: 14px !important;
        margin-bottom: 20px !important;
    }

    .input-group-text {
        cursor: pointer;
        background-color: #fff;
    }

    .warn-notice {
        margin-left: 25px;
        font-size: 14px;
        line-height: 1.36;
        letter-spacing: -0.5px;
        text-align: left;
        color: #f16060;
    }

    .apexcharts-legend-marker {
        margin-right: 10px;
    }

    .row-no-margin {
        padding-left: 20px;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    * {
        font-family: Helvetica;
    }

    hr {
        border: solid 1px #e1e1e1;
        width: 100%;
    }

    p {
        color: #333333;
        font-family: Helvetica;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.19;
        letter-spacing: -0.5px;
    }

    button {
        margin: 5px;
    }

    .full-width {
        width: 100%;

        &.content-padding {
            padding-left: 17px;
        }
    }

    .one-third-width {
        width: 30%;
    }

    .padding-bottom-30 {
        padding-bottom: 30px;
    }

    .padding-top-10 {
        padding-top: 10px;
    }

    .padding-top-bottom-150px {
        padding-top: 150px;
        padding-bottom: 150px;
    }

    .green-color {
        color: #56c57b;
    }

    .green-color-input {
        color: #49bc6b;
        text-indent: 11px;
    }

    .white-color {
        color: #ffffff;
    }

    .light-grey {
        color: #a5a4a4;
    }

    .small-font {
        font-size: 16px;
    }

    .container-display-inline-center {
        width: 100%;
        padding-top: 55px;
        display: inline-block;
        vertical-align: middle;
        text-align: center;
    }

    .container-display-inline-right {
        display: inline-block;
        vertical-align: middle;
        text-align: right;
        padding: 0;

        input[type=number] {
            display: flex;
            float: right;
            clear: both;
        }

        button {
            //padding-right: 5px;
        }
    }

    .container-display-inline-left {
        display: inline-block;
        vertical-align: middle;
        text-align: left;
        padding: 0;
    }

    .no-padding {
        padding: 0px
    }

    // Styles for buttons
    .green-button {
        &.large-button {
            width: 146px;
            height: 36px;
        }

        &.large-button:hover {
            cursor: pointer;
        }

        border-radius: 106px;
        border: solid 1px #49bc6b;
        background-color: #49bc6b;
    }

    .white-button {
        width: 146px;
        height: 36px;
        border-radius: 106px;
        border: solid 1px #a5a4a4;
        background-color: rgba(255, 255, 255, 0);
    }

    .section-headline {
        width: 100%;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.19;
        letter-spacing: -0.5px;
        color: #49bc6b;
        padding-top: 18.5px;
    }

    span.form-label {
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.36;
        letter-spacing: -0.5px;
        text-align: left;
        color: #333333;
    }

    input.form-input {
        height: 36px;
        border-radius: 4px;
        border: solid 1px #c7c7c7;
        background-color: #ffffff;
    }

    //input[type=number]::-webkit-inner-spin-button {
    //    -webkit-appearance: none;
    //    opacity: 1;
    //    cursor: pointer;
    //    display: block;
    //    width: 8px;
    //    color: #c8c8cc;
    //    text-align: center;
    //    position: relative;
    //}

    //input[type=number]::-webkit-inner-spin-button {
    //    background: #eee url('http://i.stack.imgur.com/YYySO.png') no-repeat 50% 50%;
    //    width: 14px;
    //    height: 14px;
    //    position: relative;
    //    right: 0px;
    //    width: 28px;
    //    height: 32px;
    //    border: 1px solid #c7c7c7;
    //    background-color: #ffffff;
    //}

    .form-group {
        padding-top: 21px;
        padding-bottom: 21px;
    }

    span.percentage {
        display: inline-block;
        position: relative;
        right: 20px;
    }
    .custom-radio {
        > input[type=radio] {
            //border: red;
            //opacity: 1;
            position: absolute;
            left: 0;
            top: 7px;
            height: 20px;
            width: 20px;
            z-index: 99999999;
        }
    }

    .form-control:disabled, .form-control[readonly] {
        background: transparent;
    }

    .custom-radio .custom-control-input {
        ~ .custom-control-label::before {
            position: absolute;
            top: 0;
            width: 20px;
            height: 20px;
            display: inline-block;
            border: none;
            box-shadow: none;
            background: url('./assets/radio_off.png') no-repeat transparent;
        }

        &:checked {
            ~ .custom-control-label::before {
                background: url('./assets/radio_active.png') no-repeat transparent;
            }
        }
    }

    .custom-control-label {
        padding-left: 17px;
    }

    input.form-control[type="range"],
    input.form-control[type="color"] {
        height: 4px;
        background-color: transparent;
    }

    input[type=range] {
        width: 100%;

        -webkit-appearance: none;
        margin: 10px 0;
        width: 100%;
        outline: none;
        border: none;
        box-shadow: none;
    }

    input[type=range]:focus {
        outline: none;
        border: none;
        box-shadow: none;
    }

    input[type=range]::-webkit-slider-runnable-track {
        width: 100%;
        height: 4px;
        cursor: pointer;
        animate: 0.2s;
        background: #008265;
        border-radius: 25px;
        border: 0px solid #ffffff;
    }

    input[type=range]::-webkit-slider-thumb {
        height: 10px;
        width: 10px;
        border-radius: 30px;
        background: #008265;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -3px;
    }

    input[type=range]:focus::-webkit-slider-runnable-track {
        background: #008265;
        outline: none;
    }

    input[type=range]::-moz-range-track {
        background: #008265;
        outline: none;
    }

    input[type=range]::-moz-range-thumb {
        height: 10px;
        width: 10px;
        border-radius: 30px;
        background: #008265;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -3px;
    }

    input[type=range]::-ms-track {
        width: 100%;
        height: 12.8px;
        cursor: pointer;
        animate: 0.2s;
        background: transparent;
        border-color: transparent;
        border-width: 39px 0;
        color: transparent;
    }

    input[type=range]::-ms-thumb {
        height: 10px;
        width: 10px;
        border-radius: 30px;
        background: #008265;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -3px;
    }

    span.tooltip-container {
        display: inline-block;
        padding: 5px 5px;
    }

    span {
        padding-left: 0px;
        padding-right: 5px;
    }
}

div.tooltip-inner {
    background-color: #ffffff;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.27);
    font-family: Helvetica;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: -0.5px;
    text-align: left;
    color: #5f5f5f;
    max-width: 400px !important;
}

.bs-tooltip-top .arrow::before,
.bs-tooltip-auto[x-placement^="top"] .arrow::before {
    border-top-color: #ffffff !important;
}

.tooltip {
    font-family: Helvetica;
}

.box-bottom-text {
    font-size: 10px !important;
    font-weight: 300 !important;
    line-height: 1.3 !important;
    letter-spacing: -0.3px !important;
    text-align: center !important;
    color: #5f5f5f !important;
}

.results-text {
    font-size: 14px !important;
    line-height: 1.36 !important;
    letter-spacing: -0.5px !important;
    text-align: left;
    color: #5f5f5f !important;
}





.price {
    margin-top: 17px;
    margin-bottom: 23px;
    font-size: 36px !important;
    line-height: 0.53 !important;
    letter-spacing: -1.2px !important;
    color: #49bc6b !important;
}

.price-warn {
    margin-top: 17px;
    margin-bottom: 23px;
    font-size: 36px !important;
    line-height: 0.53 !important;
    letter-spacing: -1.2px !important;
    color: #f86565 !important;
}

.centered-box {
    margin: auto;
    text-align: center;
    color: #333333;
}



.results-dark-text {
    font-size: 16px !important;
    line-height: 1.19 !important;
    letter-spacing: -0.5px !important;
    text-align: left !important;
    color: #333333 !important;
}

.export-btn {
    font-size: 14px !important;
    line-height: 1.36 !important;
    letter-spacing: -0.5px !important;
    float: right !important;
    cursor: pointer !important;
    color: #49bc6b !important;
}

.purchase-btn {
    background-color: #49bc6b;
    width: 129px;
    border-radius: 25px;
}

.cancel-btn {
    background-color: #a5a4a4;
    color: #fff;
    width: 179px;
    border-radius: 25px;
}


.results-bottom-txt {
    font-size: 14px !important;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: left;
    color: #333333 !important;
}

.results-bottom-txt-16 {
    font-size: 16px !important;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: left;
    color: #333333 !important;
}


.w-40px {
    width: 40px;
}

.error-item {
    font-size: 14px;
    font-style: italic;
}

.retirement-spending-application-page {
    input[type=number]::-webkit-outer-spin-button,
    input[type=number]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=number] {
        -moz-appearance:textfield;
    }
}

.no-outline {
    outline: none !important;
}

