.lead-gen {

    .headings {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.06;
    text-align: left;
    color: #49bc6b;
    }

    .leadgen-content{
    font-size: 14px;
    line-height: 1.36;
    letter-spacing: -0.5px;
    text-align: left;
    color: #5f5f5f;
    }

    .popup-link {
        color: #49bc6b;
    }

    .modal-title {
        
        margin-bottom: 20px;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.1;
        letter-spacing: -0.7px;
        color: #49bc6b;
      }

      .modal-btn-box {
        float: right;
      }

      .modal-content{
        border: none !important;
        margin: 0px;
        font-size: 14px;
        line-height: 1.57;
        letter-spacing: -0.5px;
        color: #5f5f5f;
      }

      .btns {
        margin: 10px;
        border-radius: 25px;
        width: 180px;
      }

      .lead-table{
        font-size: 16px;
      }

      .export-btn {
        font-size: 14px;
        line-height: 1.36;
        letter-spacing: -0.5px;
        float:right;
        cursor: pointer;
        color: #49bc6b;
      }

      .lead-table>thead {
        font-size: 18px;
        font-weight: 200;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.06;
        letter-spacing: -0.6px;
        text-align: left;
        color: #333333;
      }

      #btn-toggle.active img:nth-child(1),
      #btn-toggle img:nth-child(2){
        display: none;
      }
      #btn-toggle.active img:nth-child(2){
        display: block;
      }
}